html,
body,
#app {
  margin: 0;
  padding: 0;
  background-color: #f1f2f6;
  height: 100%;
}
/*全局滚动条样式*/
::-webkit-scrollbar {
  width: 5px;
  height: 14px;
}

::-webkit-scrollbar-thumb {
/* background-color: #01c8dc;
border-radius: 3px; */
  background-color: #b6b6b6;
}
/*全局滚动条样式结束*/